@tailwind base;
@tailwind components;
@tailwind utilities;

/* 스크롤바 커스터마이징 (light) */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f9f9f9;
}
::-webkit-scrollbar-thumb {
  background: #121619;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555555;
}
/* 스크롤바 커스터마이징 (dark) */
.dark ::-webkit-scrollbar {
  width: 5px;
}
.dark ::-webkit-scrollbar-track {
  background: #1a1a1a;
}
.dark ::-webkit-scrollbar-thumb {
  background: #575757;
  border-radius: 10px;
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
